#topheader {

    border-bottom: 1px solid #ebebeb;
}
#topheader a {
    color: #2c3e50;
    font-weight: 600;
    font-size: 0.89rem;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
nav ul li a {
    font-size: 1.1rem;
    font-weight: 600;
}

/* top footer start */
.full-footer {
    background-color: #030e16;
   

}

.top-footer p {
    color: white;

}

.top-footer a {
    color: white;
    font-weight: 600;
}

.top-footer h3 {
    color: white;
}
.bottom-footer{
    background-color: #031b2e;
}
.bottom-footer p {
   color: white;
}
/* end top footer */
/* About us */
.breadcrumb-section{
    background-color:#e9ecef;
}
/* start of contact us page */
.address p{
font-weight: 600;
}